﻿@model Aviva_FizzBuzz_Tapas_TDD.ViewModel.FizzBuzzViewModel

<table>
    <tr><td><b><u>FizzBuzz Numbers</u></b></td></tr>
    @foreach (string fizzBuzzNumber in @Model.FizzBuzzNumbers)
    {
        <tr>
            <td><span>@fizzBuzzNumber</span> </td>
        </tr>
    }
</table>
